<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>InitServlet</servlet-name>
        <servlet-class>controller.InitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCatalogToCartController</servlet-name>
        <servlet-class>controller.AddCatalogToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartController</servlet-name>
        <servlet-class>controller.RemoveCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmDeleteController</servlet-name>
        <servlet-class>controller.ConfirmDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComfirmOrder</servlet-name>
        <servlet-class>controller.ComfirmOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmRemoveController</servlet-name>
        <servlet-class>controller.ConfirmRemoveController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InitServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCatalogToCartController</servlet-name>
        <url-pattern>/AddCatalogToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartController</servlet-name>
        <url-pattern>/RemoveCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmDeleteController</servlet-name>
        <url-pattern>/ConfirmDeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComfirmOrder</servlet-name>
        <url-pattern>/ComfirmOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmRemoveController</servlet-name>
        <url-pattern>/ConfirmRemoveController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
